// COLORS //

$base: #273036;
$secondary: #b49e3c;

h3 {
    font-size: 2em;
}

h2 {
    font-size: 4em;
}

html,
body {
    font-family: Bahnschrift, Avenir, Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin: 0;
    box-sizing: border-box;
    color: rgb(219, 219, 211);
    background-color: rgb(180, 158, 60);
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    mix-blend-mode: difference;
    background: transparent;
}

.header--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    text-align: center;
    z-index: 10;
    padding: 1em 0;
}
.header--logo > h3 {
    margin: 0.5em 0 0 0;
}
.header--content > ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1.5em;
}

.section--intro {
    /* background-image: url("./assets/images/forest.jpg"); */
    position: relative;
    height: 100vh;
    background-color: $base;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    // color: white;

    h1 {
        font-size: 10vw;
        margin: 0;
    }

    h3 {
        z-index: 9;
    }
}

.top {
    position: absolute;
    top: 0;
    width: 100%;
}

.btm {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.section--skills {
    position: relative;
    min-height: 100vh;
    background-color: $base;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 0;
}

.skillgrid {
    width: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2em;
    margin: 10%;
}

.skillgrid > i {
    font-size: 6em;
    width: 100%;
}

.section--about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    // border: 5px dotted $base;

    .jesper--div {
        background-color: $base;
        padding: 1em;
        height: 50%;
        width: 100%;
        border-radius: 0 0 10px 10px;

        .jesper {
            font-family: "Cascadia Code", "Bahnschrift";
        }
    }

    .about--text {
        width: 100%;
        height: 50%;

        .jesper-img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 10px 10px 0 0;
            object-position: 50% 35%;
        }
    }
}

.section--projects {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
    padding: 1em;

    .projects--grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 2em;
        justify-content: center;
        &:hover > :not(:hover) {
            opacity: 0.5;
        }

        .project {
            position: relative;
            height: 60vh;
            background: $base;
            padding: 1em;
            border-radius: 10px;
            transition: all 0.5s;
            box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
                rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

            &:after {
                content: "";
                z-index: -1;
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.4);
                -webkit-transition: none;
                -moz-transition: none;
                transition: none;
            }

            &:hover {
                transform: scale(1.05);
                &:after {
                    width: 120%;
                    background-color: rgba(255, 255, 255, 0);

                    -webkit-transition: all 0.4s ease-in-out;
                    -moz-transition: all 0.4s ease-in-out;
                    transition: all 0.4s ease-in-out;
                }
            }
        }
    }
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

.img--div {
    width: 100%;
    height: 50%;
    background-position: 50% 43%;
    background-size: cover;
    border-radius: 10px;
    opacity: 0.7;
}

.bio--div {
    height: 50%;
    overflow: scroll;
}

/* MEDIA QUERIES */

@media screen and (min-width: 1000px) {
    .section--about {
        flex-direction: row;
        padding: 0;
        gap: 2em;
        padding: 0 2em;

        .jesper--div {
            height: 100%;
            flex: 1;
            font-size: 2.3vmax;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 75%;
            border-radius: 10px;
            box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
                rgba(50, 50, 93, 0.25) 0px 50px 50px -20px,
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        }

        .about--text {
            flex: 1;
            height: 75%;
            border-radius: 10px;
            box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
                rgba(50, 50, 93, 0.25) 0px 50px 50px -20px,
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        }
    }
}
