body {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
}

.header--content {
    display: flex;
    justify-content: space-around;
    width: 50%;
    background: transparent;
    position: fixed;
}

.header--content > ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

section {
    height: 100vh;
}

.section--intro {
    background-image: url("./assets/images/forest.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    color: white;
}

.section--intro > h1 {
    font-size: 4em;
    margin: 0;
    color: rgb(237, 216, 216);
}

.section--skills {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillgrid {
    width: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 5%;
    margin: 10%;
}

.skillgrid > i {
    font-size: 15em;
    width: 100%;
}
